version: '3.5'

services:
  zookeeper:
    image: zookeeper:3.5
    container_name: zookeeper
    hostname: zookeeper
    restart: on-failure

  clickhouse-node1:
    image: yandex/clickhouse-server:20.4
    container_name: clickhouse-node1
    hostname: clickhouse-node1
    ports:
      - "8123:8123"
      - "9000:9000"
    volumes:
      - ./data/node1:/etc/clickhouse-server
    depends_on:
      - zookeeper
    restart: on-failure


  clickhouse-node2:
    image: yandex/clickhouse-server:20.4
    container_name: clickhouse-node2
    hostname: clickhouse-node2
    volumes:
      - ./data/node2:/etc/clickhouse-server
    depends_on:
      - zookeeper
    restart: on-failure

  clickhouse-node3:
    image: yandex/clickhouse-server:20.4
    container_name: clickhouse-node3
    hostname: clickhouse-node3
    volumes:
      - ./data/node3:/etc/clickhouse-server
    depends_on:
      - zookeeper
    restart: on-failure

  clickhouse-node4:
    image: yandex/clickhouse-server:20.4
    container_name: clickhouse-node4
    hostname: clickhouse-node4
    volumes:
      - ./data/node4:/etc/clickhouse-server
    depends_on:
      - zookeeper
    restart: on-failure

  clickhouse-node5:
    image: yandex/clickhouse-server:20.4
    container_name: clickhouse-node5
    hostname: clickhouse-node5
    volumes:
      - ./data/node5:/etc/clickhouse-server
    depends_on:
      - zookeeper
    restart: on-failure

  clickhouse-node6:
    image: yandex/clickhouse-server:20.4
    container_name: clickhouse-node6
    hostname: clickhouse-node6
    volumes:
      - ./data/node6:/etc/clickhouse-server
    depends_on:
      - zookeeper
    restart: on-failure